*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
}
h1,li,ul{
    display: inline;
}

h1{
    margin-left: 10px;
}

ul{
    margin-left: 75%;
}

li{
    color: gray;
    cursor: pointer;
}

li:hover{
    color: white;
}

input{
    width: 60%;
    padding: 15px;
}

.searchbar{
    padding: 35px;
    text-align: center;
}

.box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 220px;
}

.products{
    text-align: center;
}

.box:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.about{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.contact{
    background-color: black;
    color: white;
    padding: 30px;
}

h2{
    font-style: bold;
}

h3{
    text-align: center;
    font-style: bold;
}